:root {
    --primary: #fff;
  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
  }
  
  .btn--outline {
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid #ff3b3f;
    transition: all 0.3s ease-out;
    color: #ff3b3f;
  }
  
  .btn--medium {
    padding: 8px 20px;
    font-size: 18px;
  }
    
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #ff3b3f;
    color: #fff;
    transition: 250ms;
  }
  